.calendar {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  max-width: 960px;
  padding-bottom: 60px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  width: 100%;

  &__intro {
    p {
      font-size: 24px;
      font-weight: 300;
    }

    h2 {
      font-size: 48px;
      font-weight: 700;
    }
  }
}
.calendar-body {
  display: flex;
  max-width: 875px;
  width: 100%;
}

.calendar-pane {
  border-right: 1px solid $black;
  max-width: 14%;
  width: 100%;

  &:first-child {
    border-left: 1px solid $black;
  }

  &__header {
    border-bottom: 1px solid $black;
    font-size: 18px;
    font-weight: 300;
    max-height: 55px;
    text-align: center;
  }

  &__body {
    min-height: 246px;
  }
}
